.table-container {
  margin-top: 4rem;
  margin-left: 3rem;
  width: 75%;
}

.table-container h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

tbody td {
  position: relative;
}

thead th,
tfoot td {
  border: none;
}

tbody tr {
  background-color: #fff;
}

tbody tr:first-child td {
  border-top: 1px solid #000;
}

tbody td:first-child {
  border-left: 1px solid #000;
}

tbody td:last-child {
  border-right: 1px solid #000;
}

tbody tr:first-child td:last-child {
  border-top-right-radius: 0.5rem;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}

tbody tr td {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #000;
  flex: 1;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.25rem;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.25rem;
}

tbody tr:first-child td:first-child {
  border-top-left-radius: 0.25rem;
}

tbody tr:first-child td:last-child {
  border-top-right-radius: 0.25rem;
}

th,
td {
  text-align: left;
  padding: 1rem;
}

th {
  background-color: transparent;
  font-size: 0.875rem;
}

.icon-cell {
  border-right: 1px solid #000;
  text-align: center;
  padding: 0.5rem;
  width: 30px;
}

.icon-cell svg {
  width: 30px;
  height: 30px;
}

.product-name {
  display: flex;
  align-items: center;
}

.product-name-wrapper {
  position: relative;
}

.product-name-title {
  font-weight: 700;
}

.product-url {
  display: block;
  color: #000;
  font-size: 0.875rem;
}

.totals-row {
  background-color: transparent;
}

.totals-row td {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .table-container {
    width: 100%;
    padding: 0 1rem;
    margin: 2rem auto;
    flex: 1;
  }

  table {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 1rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .table-container tbody tr td {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .icon-cell {
    display: flex;
    justify-content: center;
    align-items: center !important;
    padding: 1rem 0;
    width: auto;
    flex: none;
    margin: auto;
  }

  .icon-cell::after {
    content: none;
  }

  .product-name,
  .product-name-wrapper,
  .product-url {
    padding: 0.5rem 0;
  }

  .product-url {
    padding-top: 0.25rem;
  }

  .totals-row {
    background-color: transparent;
    border: 1px solid #000;
    margin-bottom: 0;
    display: block;
  }

  .totals-row td {
    border: none;
  }

  tbody td:last-child {
    border-right: none;
  }
  .table-container thead th:nth-child(2) {
    display: none;
  }

  .table-container tbody tr td:before {
    content: attr(data-title);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .product-row:last-child td {
    border-bottom: 1px solid #ddd;
  }
  tbody td:first-child {
    border-left: none;
  }

  .icon-cell {
    border-right: none;
  }
  tbody tr:first-child td {
    border-top: none;
  }

  .totals-row td {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
  }

  .totals-row td:nth-child(1),
  .totals-row td:nth-child(3),
  .totals-row td:nth-child(4) {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #000;
  }
  .totals-row td:nth-child(1) {
    padding: 1rem;
  }

  .totals-row td:nth-child(4) {
    border-bottom: none;
  }

  tbody tr:last-child td:first-child,
  tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0;
  }

  tbody tr td:last-child {
    border-bottom: 0;
  }

  .table-container .totals-row td::before {
    margin-bottom: 0;
  }

  thead th, tfoot td {

    display: none;
  }
}
