.signup-container {
  display: flex;
  height: 100vh;
  background-color: #f4f4f0;
  box-sizing: border-box;
}

.signup-form-container {
  width: 55%;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-image-bg {
  display: none; /* Hidden by default for all viewport widths */
  padding: 1.5rem;
  gap: 1rem;
  grid-auto-rows: max-content;
  background: url("../../assets/images/background-29d.webp") no-repeat center
    top;
  background-size: cover;
}

.signup-form-container h1 {
  grid-column: 1/-1;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 4rem;
  text-align: justify;
}

.signup-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem 0.75rem;
  padding-top: 4rem;
  margin: 0 1.5rem;
}

.actions a {
  color: #000;
}

.header-main img {
  width: calc(1em / 0.14);
}

.signup-form {
  margin-top: 4rem;
  margin-left: 1rem;
}

.terms-of-use {
  margin: 1.5rem 1rem;
}

.terms-of-use u {
  cursor: pointer;
}

.input-error {
  border: 1px solid #ff90e8;
}

/* Media Queries */

@media (min-width: 1024px) {
  .signup-image-bg {
    display: grid; 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .signup-image-bg {
    width: 50vw;
  }
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .signup-form-container,
  .signup-image-bg {
    width: 100%;
  }

  .signup-form-container {
    overflow-y: auto;
  }
  .signup-form-container h1 {
    text-align: left;
  }
}
