.signup-container {
  display: flex;
  height: 100vh;
  background-color: #f4f4f0;
  box-sizing: border-box;
  width: 100%;
}

.signup-form-container {
  width: 55%;
  overflow-y: auto;
}
.signup-container .header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-image-bg {
  display: hidden;
  overflow: auto;
  padding: 1.5rem;
  gap: 1rem;
  grid-auto-rows: max-content;
  background: url("../../assets/images/background-29d.webp") no-repeat center
    top;
  background-size: cover;
  display: none;
}

.signup-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem 0.75rem;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.header-actions a {
  color: #000;
}

.signup-form {
  margin-top: 4rem;
  margin-left: 1rem;
}

.header-main img {
  width: calc(1em / 0.14);
}

.password-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.password-label-row a {
  color: #000;
}

.forgot-password-link {
  margin-left: auto;
}

.input-error {
  outline: 2px solid #ff90e8;
  animation: blink 1s ease-out 0s 1;
}

@keyframes blink {
  0%,
  100% {
    outline: 2px solid #ff90e8;
  }
  50% {
    outline: 2px solid transparent;
  }
}

/* Media Queries */

@media (min-width: 1024px) {
  .signup-image-bg {
    display: grid;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .signup-image-bg {
    width: 50vw;
  }
}

@media (max-width: 1024px) {
  .signup-container {
    flex-direction: column;
  }

  .signup-form-container,
  .signup-image-bg {
    width: 100%;
  }
}
