.submit-btn {
  margin: 1rem auto;
  display: block;
  width: calc(100% - 2rem);
  padding: 0.75rem 1rem;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  transition: box-shadow 0.2s ease, transform 0.2s ease,
    background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.submit-btn:hover {
  color: #000;
  background-color: #ff90e8;
  box-shadow: 0.25rem 0.25rem 0rem;
  transform: translate(-0.25rem, -0.25rem);
}
