.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin: 1rem;
}

.input {
  padding: 1rem;
  margin: 10px 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.input:focus {
  border-color: #000;
  outline: #000;
  box-shadow: 0 0 0 2px #ff90e8;
}